<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h1>Book List</h1>

    {% for topic in topics %}
    <a href="/?id={{ topic.id }}">{{ topic.name }}</a> |
    {% endfor %} 
    <a href="/">All</a>
    <button>
        <a href="{% url 'add_topic' %}" value="add_topic">+</a>
    </button>

    {% for book in books %}
    <p>{{ book }} ({{ book.topic.name }} - {{ book.topic.id }})</p>
    {% endfor %}
    
    <hr>
    <button>
        <a href="{% url 'add_book' %}" value="add_book">Add Book</a>
    </button>
</body>

</html>
